a.thumb {
  background: #232322;
  border: 2px solid;
  border-color: #232322;

}

a.thumb:visited {
  border-color: #ffaaae;
}

div.content {
  width: 79% !important;
}

ul#post-list-posts li {
  zoom: 1.69 !important
}

img {
  max-height: 100%;
}

#add-to-favs {
  zoom: 1.7;
  margin: 4px 0;
}

li.tag-type-artist a[href^="/post"]:not(.no-browser-link)::before {
  content: "[画师]";
}

li.tag-type-copyright a[href^="/post"]:not(.no-browser-link)::before {
  content: "[版权]";
}

li.tag-type-character a[href^="/post"]:not(.no-browser-link)::before {
  content: "[角色]";
}

li.tag-type-circle a[href^="/post"]:not(.no-browser-link)::before {
  content: "[社团]";
}
